## Importing Libraries

In [68]:
import pandas as pd

In [69]:
df = pd.read_csv("results_1.csv")

## Droping unnecessary Columns

In [70]:
df.head()

,Unnamed: 0,brandCategoryId,brandName,categoryId,categoryName,condition,createdById,createdOn,createdTime,deal,...,creatorInfo.createdById,creatorInfo.createdByName,creatorInfo.createdByUsername,creatorInfo.creatorAdCount,creatorInfo.creatorImg,creatorInfo.hidePhoneNumber,creatorInfo.totalRating,location.locationDescription,location.locationLatitude,location.locationLongitude
0,0,NaN,NaN,56C5F377-50C1-42A4-B6C2-24A8B3235DC7,For Sale - House,2,5842DAD6-E575-4C74-8E82-33EC1EA472AB,2024-08-06T07:56:17,3 mins ago,NaN,...,5842DAD6-E575-4C74-8E82-33EC1EA472AB,Sagun Homes,97******40,333,https://hamrobazaar.blr1.cdn.digitaloceanspace...,False,21,"Tilintar, बसुन्धरा चौकी, Kathmandu-03, काठमाडौ...",27.731300,85.319099
1,1,NaN,NaN,56C5F377-50C1-42A4-B6C2-24A8B3235DC7,For Sale - House,2,5842DAD6-E575-4C74-8E82-33EC1EA472AB,2024-08-06T07:54:04,5 mins ago,NaN,...,5842DAD6-E575-4C74-8E82-33EC1EA472AB,Sagun Homes,97******40,333,https://hamrobazaar.blr1.cdn.digitaloceanspace...,False,21,"Tilintar, बसुन्धरा चौकी, Kathmandu-03, काठमाडौ...",27.731300,85.319099
2,2,NaN,NaN,56C5F377-50C1-42A4-B6C2-24A8B3235DC7,For Sale - House,2,AFED05A1-96B1-430B-8180-07471351525F,2024-08-06T07:53:05,6 mins ago,NaN,...,AFED05A1-96B1-430B-8180-07471351525F,INDUS PROPERTY NEPAL PVT.LTD,97******35,427,https://hamrobazaar.blr1.cdn.digitaloceanspace...,False,2,"Imadol (Mahalaxmi), Lalitpur",27.656401,85.342003
3,3,NaN,NaN,56C5F377-50C1-42A4-B6C2-24A8B3235DC7,For Sale - House,2,5842DAD6-E575-4C74-8E82-33EC1EA472AB,2024-08-06T07:50:36,8 mins ago,NaN,...,5842DAD6-E575-4C74-8E82-33EC1EA472AB,Sagun Homes,97******40,333,https://hamrobazaar.blr1.cdn.digitaloceanspace...,False,21,"Tilintar, बसुन्धरा चौकी, Kathmandu-03, काठमाडौ...",27.731300,85.319099
4,4,NaN,NaN,56C5F377-50C1-42A4-B6C2-24A8B3235DC7,For Sale - House,1,5842DAD6-E575-4C74-8E82-33EC1EA472AB,2024-08-06T07:48:20,11 mins ago,NaN,...,5842DAD6-E575-4C74-8E82-33EC1EA472AB,Sagun Homes,97******40,333,https://hamrobazaar.blr1.cdn.digitaloceanspace...,False,21,"टोखा चण्डेश्वरि, Tokha-02, टोखा नगरपालिका, काठ...",27.778900,85.331703

In [71]:
columns_to_keep = ['categoryName', 'createdOn', 'id', 'name', 'price', 'location.locationDescription', 'location.locationLatitude', 'location.locationLongitude']

In [72]:
df = df[columns_to_keep]
df.head()

,categoryName,createdOn,id,name,price,location.locationDescription,location.locationLatitude,location.locationLongitude
0,For Sale - House,2024-08-06T07:56:17,7457D719-B0A1-5788-8841-0B7A8CAD362D,"House On Sale at Samakhusi, Town Planning",39900000,"Tilintar, बसुन्धरा चौकी, Kathmandu-03, काठमाडौ...",27.731300,85.319099
1,For Sale - House,2024-08-06T07:54:04,97D0D99E-E77A-CB1F-9CC0-F3707DE85A7B,"New House On Sale at Samakhusi, Near Chowk",55000000,"Tilintar, बसुन्धरा चौकी, Kathmandu-03, काठमाडौ...",27.731300,85.319099
2,For Sale - House,2024-08-06T07:53:05,06005955-E397-F74D-70DF-5EA1424FC88C,House on Sale -Imadol sethi Pakha,49000000,"Imadol (Mahalaxmi), Lalitpur",27.656401,85.342003
3,For Sale - House,2024-08-06T07:50:36,AE6A9E1B-48DE-6AD1-17E1-7E8DB45DDCAD,Commercial Building For Sale at Samakhusi,160000000,"Tilintar, बसुन्धरा चौकी, Kathmandu-03, काठमाडौ...",27.731300,85.319099
4,For Sale - House,2024-08-06T07:48:20,5A7384A6-5852-B529-FA0F-BD78EAD5295B,"Brand New House On Sale at Tokha, Dhaneshwor",16000000,"टोखा चण्डेश्वरि, Tokha-02, टोखा नगरपालिका, काठ...",27.778900,85.331703

In [73]:
df.to_csv('results_final.csv')

## URL Generation from ad name, city, and ad-id

In [74]:
df['clean_name'] = df['name'].str.replace(' ', '-').str.replace(',', '-').str.replace('-+', '-', regex=True)

In [75]:
df['final_city'] = df['location.locationDescription'].apply(
    lambda x: x.split()[-1] if x.split()[-1] in ['Kathmandu', 'Lalitpur', 'Bhaktapur'] else 'Nepal'
)

In [76]:
df['url'] = 'https://hamrobazaar.com/for-sale-house/' + df['clean_name'] + '-in-' + df['final_city'] + '/' + df['id'].astype(str)

In [77]:
df['url'] = df['url'].str.replace('--', '-')

## Saving URLS to CSV

In [78]:
df.to_csv('result_with_urls.csv', index=False)

## Storing only URLs to CSV

In [79]:
df_url = pd.read_csv("result_with_urls.csv")

In [80]:
url_column = ["url"]

In [81]:
df_url = df[url_column]
df_url.head()

                                                 url
0  https://hamrobazaar.com/for-sale-house/House-O...
1  https://hamrobazaar.com/for-sale-house/New-Hou...
2  https://hamrobazaar.com/for-sale-house/House-o...
3  https://hamrobazaar.com/for-sale-house/Commerc...
4  https://hamrobazaar.com/for-sale-house/Brand-N...

In [82]:
df_url.to_csv('house-for-sale-url.csv', index=False)